.head h1{
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 50px;
    text-decoration: white;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.616)), url("https://bit.ly/2I0A4kj");
    background-size: cover;
    height: 100vh;
    /* color: white; */
    /* font-weight: bolder */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: fixed; */
    /* top: 0; */
    font-family: 'Dancing Script';
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* position: fixed; */
    /* top: 0; */
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    /* position: fixed; */
  }
  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /* position: fixed; */
    /* top: 0; */
  }
  .vlob{
      text-align: center;
      font-family: 'Dancing Script';
  }
  #men{
      float: left;
      padding-left: 60px;
      background-image: url("https://bit.ly/3ccO209");
      background-size: cover;
      height: fit-content;
  }
  #br{
    border-radius: 30%;
  }
  #row img:hover{
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-right: 15px;
    margin-left: 15px;
    /* margin-top: 15px; */
    /* display: block; */
    /* position: absolute; */
    right: 0px;
    width: 300px;
    border: 10px solid rgb(12, 12, 11);
    padding: 10px;
    /* opacity: 0.5 color black; */
    padding: 10px;
    /* box-sizing: border-box; */
    /* border-spacing: 20px; */
    /* align-items: flex-start; */
  }
  #row{
    background-image: url("https://bit.ly/2T2qvHM");
    font-size: 30px;
    /* background-repeat: no-repeat; */
    /* height: 100px; */
    /* width: 100vh; */
    /* background-size: cover; */
  }
  